
<%= csrf_meta_tags %>
<%= form_for @shipping_company do |f| %>

<% if @shipping_company.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@shipping_company.errors.count, "error") %> prohibited
      this shipping_company from being saved:
    </h2>
    <ul>
      <% @shipping_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h5><br>
    <div align=left>
  <%= f.label :Name %>
  <%= f.text_field :shipping_comp_name %><br>



      <%= f.label :Tax_id_vat %>
      <%= f.text_field :tax_id_vat %><br>



      <%= f.label :City_id %>
      <%= f.text_field :city_id %><br>
    </div></h5>

    <h5>
      <div align=center>
      <%= f.label :Address %>
      <%= f.text_area :address %><br>



 <%= f.label :Phone %>
 <%= f.text_field :phone %><br>


 <%= f.label :Email %>
 <%= f.text_field :email %>
</div></h5>

<p>
 <%= f.label :Website %>
 <%= f.text_field :website %>
</p>
<p>
 <%= f.label :status_company %>
 <%= f.text_field :status_company %>
</p>
 <p>
    <%= f.submit %>
  </p>

 <% end %>
