<p id="notice"><%= notice %></p>

<%= csrf_meta_tags %>
<h3>Shipping Company Data</h3>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br><br>
<div class="container-fluid">
  <div class="row"><br><br>
    <div class="col-xs-3" style="background-color:red;"><div align=center>Name</div></div>
    <div class="col-xs-3" style="background-color:lime;"><div align=center>Tax-id</div></div>
    <div class="col-xs-3" style="background-color:gold;"><div align=center>Address</div></div>
    <div class="col-xs-3" style="background-color:lime;"><div align=center>Phone</div></div>

  </div>

    <div class="row"><br><br>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.shipping_comp_name %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.tax_id_vat %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.address %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.phone %></div></div>
    </div>
  </div>
  <br><br>
      <div class="container-fluid">

        <div class="row"><br><br>

      <div class="col-xs-3" style="background-color:lime;"><div align=center>Email</div></div>
      <div class="col-xs-3" style="background-color:gold;"><div align=center>Website</div></div>
      <div class="col-xs-3" style="background-color:lime;"><div align=center>Status</div></div>
      <div class="col-xs-3" style="background-color:gold;"><div align=center>City_id</div></div>
    </div>
    <div class="row"><br><br>

      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.email %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.website %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.status_company %></div></div>
      <div class="col-xs-3" style="background-color:lavender;"><div align=center><%= @shipping_company.city_id  %></div></div>
   </div>
 </div>

<br><br>

    <div class="container-fluid">

      <div class="row"><br><br>

    <div class="col-xs-4" style="background-color:lime;"><div align=center>City_Name</div></div>
    <div class="col-xs-4" style="background-color:gold;"><div align=center>Country_id</div></div>
    <div class="col-xs-4" style="background-color:lime;"><div align=center>Country_Name</div></div>

  </div>
  <div class="row"><br><br>
<%  city=City.find(@shipping_company.city_id) %>
<%  country=Country.find(city.country_id) %>
    <div class="col-xs-4" style="background-color:lavender;"><div align=center><%= city.city_name  %></div></div>
    <div class="col-xs-4" style="background-color:lavender;"><div align=center><%= city.country_id  %></div></div>
    <div class="col-xs-4" style="background-color:lavender;"><div align=center><%= country.country_name  %></div></div>
 </div>
</div>

<br><br>


<div align=center><%= button_to '    EDIT    ', edit_shipping_company_path(@shipping_company), method: :get, style: "background: steelblue" %></div><br><br>
<div align=center><%= button_to '    BACK    ', shipping_companies_path, style: "background: gold", method: :get %></div>
