<h1>Wellcome to Navy System</h1><br><br>


<strong><h2><%= link_to 'CRUD OF SHIPPING COMPANIES', shipping_companies_path %>
<%= '_________________' %>

<%= link_to '         CRUD OF SHIPS          ', ships_path %>

<%= '_________________' %>

<%= link_to '         CRUD OF CONTAINERS         ', containers_path %>
<%= '_________________' %>

<%= link_to '         CRUD OF NVOCCS             ', nvoccs_path %><br><br><br><br><br><br><br><br>

<%= link_to '         CRUD OF CITIES            ', cities_path %>
<%= '_________________' %>
<%= link_to '         CRUD OF COUNTRIES          ', countries_path %>
<%= '_________________' %>
<%= link_to '         CRUD OF CUSTOMERS          ', customers_path %>
<%= '_________________' %>
<%= link_to 'CRUD OF BLHOUSES', blhouses_path %><br><br><br><br><br><br><br><br>
<%= '_________________' %>
<%= link_to '         CRUD OF BLMASTERS         ', blmasters_path %></h2></strong>
