<h1>WELLCOME TO NAVY SYSTEM</h1><br><br><br>

<div align=center><h1><%= link_to 'SHIPPING COMPANIES', shipping_companies_path, style: "color: red" %><br><br>


<%= link_to 'SHIPS', ships_path, style: "color: blue" %><br><br>


<%= link_to 'CONTAINERS', containers_path, style: "color: yellow" %><br><br>

<%= link_to 'NVOCCS', nvoccs_path, style: "color: green" %><br><br>
<%= link_to 'CITIES', cities_path, style: "color: pink" %><br><br>
<%= link_to 'COUNTRIES', countries_path, style: "color: chocolate" %><br><br>
<%= link_to 'CUSTOMERS', customers_path, style: "color: gold" %><br><br>
<%= link_to 'BLHOUSES', blhouses_path, style: "color: navy" %><br><br>
<%= link_to 'BLMASTERS', blmasters_path, style: "color: lime" %><br><br><h1></div>
