<p id="notice"><%= notice %></p>
<h1>NVOCC Data</h1>
<p>
  <strong>Name:</strong>
  <%= @nvocc.nvocc_name %>
</p>
<p>
  <strong>id:</strong>
  <%= @nvocc.id  %>
</p>

<p>
  <strong>city_id:</strong>
  <%= @nvocc.city_id  %>
</p>

<p>
  <%  city=City.find(@nvocc.city_id) %>
  <strong>city_name:</strong>
  <%= city.city_name  %>
</p>
<p>
  <strong>country_id:</strong>
  <%= city.country_id  %>
</p>

<p>
  <%  country=Country.find(city.country_id) %>
  <strong>country_name:</strong>
  <%= country.country_name  %>
</p>



<p>
  <strong>Tax-id-vat:</strong>
  <%= @nvocc.tax_id_vat %>
</p>


<p>
  <strong>Address:</strong>
  <%= @nvocc.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @nvocc.phone %>
</p>


<p>
  <strong>Email:</strong>
  <%= @nvocc.email %>
</p>

<p>
  <strong>website:</strong>
  <%= @nvocc.website %>
</p>
<p>
  <strong>Status-Company:</strong>
  <%= @nvocc.status_nvocc %>
</p>


<%= link_to 'Edit', edit_nvocc_path(@nvocc) %> |
<%= link_to 'Back', nvoccs_path %>
